Django==2.2.18
django-appconf==1.0.3
django-crispy-forms==1.7.2
-e git+git@github.com:oscarmlage/django-cruds-adminlte.git@a154def48f5de3886158ecd952cdba56e4ff19d2#egg=django_cruds_adminlte
django-select2==7.1.1
djangoajax==2.3.7
pytz==2019.3
six==1.12.0
sqlparse==0.3.0
